body {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 36px;
    line-height: 1.5;
    color: blue;
    font-weight: 700;
    text-align: center;
}
.container {
    margin: 120px auto;
    max-width: 600px;
}
header {
    margin-bottom: 30px;
}
form {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}
.instruction {
    padding: 16px;
    border-radius: 40px;
    font-size: 16px;
}
.submit-button {
    margin-left: 10px;
    font-size: 16px;
    padding: 16px;
    border-radius: 40px;
}
.poem {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background-color: white;
    padding: 20px;
    line-height: 2;
}
footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}